LOOPS PROBLEMS IN PYTHON

Q1. COUNT POSITIVE NUMBERS

In [ ]:
num=[1,-2,3,-4,5,6,-7,8,-9,10,-11,12,-13]
count=0
for i in num:
    if i>0:
        count+= 1
print("Positive numbers count:", count)

Positive numbers count: 6

Q2. Sum Of Even Numbers

In [41]:
num=int(input("enter the number:"))
even_sum=0
if num%2==0:
    for i in range(1,num+1):
        if i%2==0:
            even_sum+=i
    print("Sum of even numbers:",even_sum)

Sum of even numbers: 56

Q3. Multiplication Table Printer

In [45]:
num=int(input("enter the number:"))
for i in range(1,11):
    if i==5:
        continue
    print(num,'x',i,'=',num*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Q4. REVERSE A STRING

In [46]:
in_str=str(input("enter the string:"))
rev_str=''
for char in in_str:
    rev_str=char+rev_str
print(rev_str)

bezu

Q5.First Non Repeated Char IN STRING

In [47]:
in_str=str(input("Enter a string: "))
for char in in_str:
    if in_str.count(char) == 1:
        print("First non-repeated character is:", char)
        break

First non-repeated character is: r

Q6. Factorial Calculator

In [51]:
n=int(input("Enter a number: "))
n_copy=n
factorial = 1
while n >0:
    factorial *=n
    n -= 1
print(f"The factorial of {n_copy} is {factorial}")

The factorial of 7 is 5040

Q7. VAlidate Input

In [59]:
while True:
    n = int(input("Enter a number: "))
    if 1<= n <= 10:
        print("Valid input:", n)
        break
    else:
        print("Invalid input. Please enter a number between 1 and 10.")

Invalid input. Please enter a number between 1 and 10.
Valid input: 10

Q8. Prime Number Checker

In [ ]:
n=int(input("Enter A Number:"))
is_prime = True
if n>1:
    for i in range(2,n):
        if n%i==0:
            is_prime=False
            break
if is_prime:
    print(n,"is a prime number")
else:
    print(n,"is not a prime number")

78 is not a prime number

Q9. UNIQUE ITEMS IN A LIST

In [6]:
items=["apple","banana","orange","apple","kiwi","banana","apple"]
unique_items=[]
for item in items:
    if item in unique_items:
        print("Duplicate item found:", item)
        break
    else:
        unique_items.append(item)

Duplicate item found: apple

Q10. EXPONENTIAL BACKOFF

In [ ]:
import time
wait_time=1
max_try=5
attempts=0

while attempts < max_try:
    print(f"Attempt {attempts + 1} of {max_try}",wait_time,"seconds")
    time.sleep(wait_time)
    wait_time *= 2
    attempts += 1
    if attempts == max_try:
        print("Maximum attempts reached. Exiting.")
        break

WORKFLOW OF PYTHON LOOPS
ITERATION TOOLS
(for,comprehension)

Iterable Objects
(list,file)
iter is applied on a objects
then next and next is done until there is no object left in memory reference except break exit continue